name: Pull Request Validation

on:
  pull_request:

jobs:
  piper-init:
    uses: project-piper/piper-pipeline-github/.github/workflows/init.yml@main
    secrets: inherit
    with:
      runs-on: '["self-hosted", "solinas"]'

  build:
    needs: piper-init
    runs-on: [self-hosted, solinas]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Clean previous builds
        run: |
          rm -rf dist/ *.egg-info agent_inspect.egg-info

      - name: Build package
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: package-dist
          path: dist/
          retention-days: 1

  unit-tests:
    runs-on: [self-hosted, solinas]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r requirements_test.txt

      - name: Run unit tests
        run: |
          PYTHONPATH=agent_inspect python -m pytest --cov=agent_inspect --cov-report=term-missing --cov-report=xml tests

      - name: Upload coverage reports
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
        if: always()
